@media only screen and (max-device-width: 600px){
    table tbody {
        font-weight: normal;
        font-size: 11px;
    }
    
    div.row {
        margin-bottom: 1px;
    }
    
    div.row input[type="radio"] {
        vertical-align: middle;
        margin-top: -1px;
    }

    div.boxCommon {
        width: 70%;
        margin: auto;
        float: none;
    }
    
    div.main {
        padding: 5px;
    }
    
    #tabs {
        margin-top: 5px;
    }
    
    .ui-widget-header {
        background: #A37B45;
    }
    
    .button-panel {
        float: right;
    }
    
    #Players {
        margin-top: 5px;
    }
    
    #Players td {
        text-align: center;
    }
    
    #PlayerDialog, #MatchDialog {
        display: none;
    }
    
    .ui-dialog-content .label {
        display: inline-block;
        width: 9em;
        font-weight: normal;
    }
    
    .ui-dialog-content .data {
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 1em 0.5em;
    }
    
    #MatchDialog #SelectedPlayer {
        margin-top: 10px;
    }
    
    #MatchDialog input[type="number"] {
        width: 2.5em;
    }
}

