@media only screen and (max-device-width: 600px){
    table tbody {
        font-weight: normal;
        font-size: 11px;
    }
    
    table tbody a{
        font-size: 12px;
    }
    
    table td.date {
        width: 65px;
    }
    
    div.row {
        margin-bottom: 2px;
    }
    
    div.row input[type="radio"] {
        vertical-align: middle;
        margin-top: -1px;
    }

    div.boxCommon {
        width: 70%;
        margin: auto;
        float: none;
    }
    
    div.main {
        padding: 5px;
    }
    
    div.boxTeamPage {
        float: none;
        margin: auto;
    }
    
    #tabs {
        margin-top: 5px;
    }
    
    .ui-widget-header {
        background: #A37B45;
    }
    
    .button-panel {
        float: right;
    }
    
    #Players, #GamesTable {
        margin-bottom: 10px;
    }
    
    #Players td {
        text-align: center;
    }
    
    #PlayerDialog, #MatchDialog {
        display: none;
    }
    
    .ui-dialog-content .label {
        display: inline-block;
        width: 9em;
        font-weight: normal;
    }
    
    .ui-dialog-content .data {
        font-weight: bold;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 1em 0.5em;
    }
    
    .ui-widget {
        font: 1.1em Arial, Helvetica, sans-serif;
    }
    
    #MatchDialog #SelectedPlayer {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    
    #MatchDialog input[type="number"] {
        width: 2.5em;
    }
    
    #MatchDialog #TreasuryChange {
        width: 4em;
    }
            
    .may-buy-new-skill {
        background-color: rgba(0,255,0,0.25);
    }
    
    /* Must be after "may-buy-new-skill" so players are red if they MNG and have a new skill. */
    .miss-next-game {
        background-color: rgba(255,0,0,0.25);
    }
    
    .injury {
        background-color: rgba(255,255,0,0.25);
    }
    
    #usersched {
        text-align: center;
    }
    
    #usersched #trid, #usersched #round, #usersched #own_team {
        width: 100%;
    }
    
    #usersched #opposing_team_autoselect {
        width: 98%;
    }
	
	.icon {
		width: 1.6em;
		height: 1.6em;
	}
	
	#menu {
		position: absolute;
		width: 8em;
		z-index: 1;
		right: 1.6em;
		list-style-type: none;
		box-shadow: 0.2em 0.2em 0.1em #666;
		
		/* override Chrome defaults */
		-webkit-padding-start: 1em;
		-webkit-margin-before: 0;
				
	}
	
	#menu li {
		padding: 0.6em;
	}
}

