/*************************
 * General - THIS is the OSBBL sheet
 *************************/

html {overflow-y: scroll;} /* Keep page alignment uniform. */

a {
color: #215C25;
}
a:link, a:visited {text-decoration: none;}

a:hover { color:orange;
text-decoration: underline;
}

body 
{
   
    background-color: white;
background: white url(../images/.png) repeat-x;
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

f1 {
	/* Forum name */
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	color: white;
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.7em;
	padding-top: 0px;
	padding-left: 130px;
}

f2 {
	/* Forum header titles */
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: white;
	font-size: 1em;
	margin: 0.8em 0 0.2em 0;
	padding-left: 132px;
}

f0 {
	/* Forum header: wait */
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	font-size: 0.3em;
	margin: 0.4em 0 0.1em 0;
	padding-left: 100px;
}

h3 {margin:0} /* Reset browser default margin */

/* Title for sections */
h2
{
    clear: both;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20px;
    width: inherit;
    font-size: 18px;
    font-weight: bold;
	margin:0 auto;
}

/* Container for rows */
div.row {width: inherit; clear: both; background-color: inherit;}

/* MAIN container */
div.everything {
    width: 84%; 
    margin: auto; 
    background-color: inherit;
    
	border-radius: px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;


} /* Top level container */

/*
 *   The following three containers are the subsequent main containers within "div.everything".
 */

/* Banner */
div.banner {
    width: 100%;
    height: 104px;
    margin-left:0px;
    margin-bottom: 3px;
    margin-top: 20px;
    background: url(../images/logo.png) left 18px center no-repeat, url(../images/bg_header.gif) left top repeat-x;
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #3A9C33;
	color: black;
	border-radius: 7px;
    background: green url(../images/banner9.png); /* 150x1000px */
    background-repeat: no-repeat;
    background-position: top left;
}

/* Menu */
div.menu {
    width: 100%;
    height: auto;
    margin-left: 0px;
}
/* Section code container */
div.section {
    padding-top: 10px;
    padding-left:10px;
    margin: px;
    padding-bottom: 0px; 
    background-color: inherit;
    color: #215C25;
}

/*
 *   Box (inner) stylings.
 */
div.boxCommon,div.boxWide,div.boxCoachPage,div.boxTeamPage,div.boxPlayerPageInfo {
    margin: 0px; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	
}
div.boxWide             {clear:both;}
div.boxCoachPage        {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxTeamPage         {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxPlayerPageInfo   {float: left; width: 325px; margin-left: 30px;}

.boxTitle1,.boxTitle2,.boxTitle3,.boxTitle4,.boxTitle5 {
	-moz-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	
	-moz-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
	
	margin-top: 0px;
	background-image: url(../images/bg_list.gif);
    background-repeat: repeat-x;
    background-color: #0582c2; 
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;}
.boxBody   { background-color: #A9C9AB; padding: 5px;

    background-image: url(../images/gradient.gif);
    background-repeat: repeat-x;

    -moz-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-bottom:18px;
	
	border-style: solid;
	border-left-width: 6px;
	border-top-width: 0px;
	border-right-width: 6px;
	border-bottom-width: 6px;
	border-color: #3A9C33;

}
table.boxTable {border-spacing: 5px; width: 100%;}

/* Other types of boxes. */
.helpBox {
        color: #FFFFFF;
        border: 2px solid #CC6633;
        background-color: #4C6260;
        padding:10px;
        line-height:1.4em;
}

/* Other types of boxes. */
.errorBox {
        color: #FFFFFF;
        border: 2px solid #000000;
        background-color: #800000;
        padding:10px;
        line-height:1.4em;
}

/*
.assistantBox {
        color: #000000;
        border: 2px solid #3D3D3D;
        background-color: #FFCCFF;
        padding:10px;
        line-height:1.4em;
}
*/

/* 
 *   Tables, TRs and TDs 
 */

/* Used almost everywhere */
table.common  {border: none; width: 100%; background-color: inherit;}
tr.commonhead {background-color: #CCCCCC;}

/* For the tours list */
table.tours {
    border: none; 
    width: 100%; 
    background-color: inherit; 
    padding-left: 5px;
    padding-right: 5px;
}

/* tour lists: titel boxes */
.leagues     {background-color: #659EC7;}
.divisions   {background-color: #8BB381;}
.tours       {background-color: #BBBBBB;}
td.round     {background-color: #CCCCCC;}
td.match     {background-color: #DDDDDD;}
td.seperator {height:15px;}

/* tour lists: node containers */
div.leaguesNCont     {margin-top:15px; margin-left:10px;}
div.divisionsNCont   {margin-top:5px;  margin-left:25px;}
div.toursNCont       {margin-top:0px;  margin-left:10px;}

/* 
 *   Section specific 
 */

/* Main page */
div.main_head       {clear: both; padding-left: 0px; padding-top: 0px; padding-bottom: 5px; font-size: 18px; background-color: inherit;}
div.main_foot       {clear: both; font-size: 11px; padding: 30px; padding-top: 20px; background-color: inherit;}
div.main_rightColumn {float: right; width: 49.5%; background-color: inherit;}
div.main_leftColumn {float: left; width: 49.5%; background-color: inherit;}
    div.main_leftColumn_head     {clear: both; text-align: right; padding-right: 20px; background-color: inherit;} /* Padding should be the same as lcolBox padding. */
        div.main_leftColumn_welcome  {clear: both; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; background-color: inherit; text-align: left;}
        div.main_leftColumn_left  {padding-left: 20px; padding-top: 10px; padding-bottom: 10px; background-color: inherit; text-align: left; float:left;}
        div.main_leftColumn_right {padding-left: 20px; padding-top: 3px;  padding-bottom: 3px;  background-color: inherit; text-align: right; float:right;}

/* 
 *  Other
 */

/* Status bar */
div.messageContainer    {width:100%;padding:6px 0px 6px 0px;color:#fff;font-weight:bold;}
div.green               {clear:both;background-color:#390;border:1px solid #298000;}
div.red                 {clear:both;background-color:#F20000;border:1px solid #c00;}

/* Game result icon*/
.match_icon     {background:transparent url(../images/result_icon.gif) no-repeat 0 0;width:12px;height:12px}
.won            {background-position:-14px 0}
.draw           {background-position:-28px 0}
.lost           {background-position:-42px 0}