/*****************************
 * Colour variation on OBBLM
 *****************************/

a {
color: #DC3522;
}
a:link, a:visited {}

a:hover { color: #990000;
text-decoration: underline;
}

body 
{   background-color: white;

    font: 12px bold Arial, Helvetica, sans-serif;
    color: black;
}

/* Title for sections */
h2
{
    padding-bottom: 10px;
	color: black;
}

/* Menu */
div.menu {
    border: 0px solid black;
}

/* Section code container */
div.section {
    margin: 0px; 
    color: black;
	padding-bottom: 0px; 
}

/*
 *   Box (inner) stylings.
 */
div.boxCommon,div.boxWide,div.boxCoachPage,div.boxTeamPage,div.boxPlayerPageInfo {
    margin: 16px; 
	color: black;
    border: 1px solid grey;

	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.boxTitle1 {color:white; background-color: #3E3E3E; padding: 6px; font-size: 17px; font-weight: normal;} /* Used for: Team/player/coach info & team news */
.boxTitle2 {color:white; background-color: #3E3E3E; padding: 6px; font-size: 17px; font-weight: normal;} /* Used for: Management/actions/more box for ordinary coaches */
.boxTitle3 {background-color: #DC3522; color: white; padding: 6px; font-size: 17px; font-weight: normal;} /* Used for: Management/actions/more box for ordinary admins */
.boxTitle4 {color:white; background-color: #3E3E3E; padding: 6px; font-size: 17px; font-weight: normal;} /* Used for: Statistics (standings, player leaders, ES) */
.boxTitle5 {color:white; background-color: #3E3E3E; padding: 6px; font-size: 17px; font-weight: normal;} /* Used for: Match summaries & recent games */
.boxBody   {color:black; border-top: 2px solid black; background-color: #FAFAFA; font-weight: normal; padding: 10px;}
table.boxTable {color:black; border-spacing: 5px; width: 100%;}

/* 
 *   Tables, TRs and TDs 
 */

tr.commonhead {color: black;}

/* Main page */
div.main_head       {clear: both; padding-left: 20px; padding-top: 15px; padding-bottom: 5px; font-size: 25px; color: black; background-color: inherit; font-weight: normal}
div.main_rightColumn {float: right; width: 50%; background-color: inherit;}
div.main_leftColumn {float: left; width: 50%; background-color: inherit;}
