/*************************
 * General
 *************************/

html {overflow-y: scroll;} /* Keep page alignment uniform. */

@font-face {
    font-family: 'auroracondensed';
    src: url('fonts/aurora_condensed-webfont.eot');
    src: url('fonts/aurora_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aurora_condensed-webfont.woff2') format('woff2'),
         url('fonts/aurora_condensed-webfont.woff') format('woff'),
         url('fonts/aurora_condensed-webfont.ttf') format('truetype'),
         url('fonts/aurora_condensed-webfont.svg#auroracondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurora';
    src: url('fonts/aurora-bdcn-bt-bold-webfont.eot');
    src: url('fonts/aurora-bdcn-bt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aurora-bdcn-bt-bold-webfont.woff2') format('woff2'),
         url('fonts/aurora-bdcn-bt-bold-webfont.woff') format('woff'),
         url('fonts/aurora-bdcn-bt-bold-webfont.ttf') format('truetype'),
         url('fonts/aurora-bdcn-bt-bold-webfont.svg#aurora_bdcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
color: #8585AD;
}
a:link, a:visited {}

a:hover { color:#A3AFC7;
text-decoration: underline;
}

body 
{
  
    background-color: #990000;

    font: 11px bold Arial, Helvetica, sans-serif;
    font-weight: bold;
}

f1 {
	/* Forum name */
	line-height: 0.5;
	font-family: auroracondensed, Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 10px;
	color: white;
	padding-bottom: 200px;
	font-weight: normal;
	font-size: 40px;
	text-shadow: 2px 2px black;
	padding-left: 160px;
}

f2 {
	/* Forum header titles */
	line-height:6;
	font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #201d0e;
	font-size: 1em;
	margin: 000px  00px 00px 160px;
}


h3 {margin:0} /* Reset browser default margin */

/* Title for sections */
h2
{
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: inherit;
    font-size: 18px;
    font-weight: bold;
	margin:0 auto;
}

/* Container for rows */
div.row {width: inherit; clear: both; background-color: inherit;}

/* MAIN container */
div.everything {
  /*  width: 1200px; 
    margin: auto; 
    background-color: inherit;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	*/
} /* Top level container */

/*
 *   The following three containers are the subsequent main containers within "div.everything".
 */

/* Banner */
div.banner {
    width: 100%;
    height: 135px;
    margin-left:0px;
    margin-bottom: 0px;
    margin-top: 10px;
    background: url(../images/logo.png) left bottom no-repeat, url(../images/logo2.png) right bottom no-repeat, url(../images/bg_header.png) left bottom repeat-x;
	border: 1px solid black;
	color: black;
}

/* Menu */
div.menu {
    width: 99.8%;
    float: left; 
    border: 2px solid black;
}

/* Section code container */
div.section {
    margin: 5px; 
    color: white;
	padding-bottom: 40px; 
    background-color: inherit;
}

/*
 *   Box (inner) stylings.
 */
div.boxCommon,div.boxWide,div.boxCoachPage,div.boxTeamPage,div.boxPlayerPageInfo {
    margin: 16px; 
	color: white;
    border: 2px solid black;

	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;

	/*-moz-box-shadow: 3px 4px 10px #999;
	-webkit-box-shadow: 3px 4px 10px #999;
	box-shadow: 3px 4px 10px #999;*/
}
div.boxWide             {clear:both;}
div.boxCommon           {float:left;}
div.boxCoachPage        {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxTeamPage         {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxPlayerPageInfo   {float: left; width: 325px; margin-left: 30px;}

.boxTitle1,.boxTitle2,.boxTitle3,.boxTitle4,.boxTitle5 {
	
/*	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;*/
}
.boxTitle1 {color:black; font-family: aurora; background-color: #D9D8D0; padding: 6px; font-size: 20px; font-weight: normal;} /* Used for: Team/player/coach info & team news */
.boxTitle2 {color:black; font-family: aurora; background-color: #D9D8D0; padding: 6px; font-size: 20px; font-weight: normal;} /* Used for: Management/actions/more box for ordinary coaches */
.boxTitle3 {font-family: aurora; background-color: #FD0200; color: white; padding: 6px; font-size: 20px; font-weight: normal;} /* Used for: Management/actions/more box for ordinary admins */
.boxTitle4 {color:black; font-family: aurora; background-color: #D9D8D0; padding: 6px; font-size: 20px; font-weight: normal;} /* Used for: Statistics (standings, player leaders, ES) */
.boxTitle5 {color:black; font-family: aurora; background-color: #D9D8D0; padding: 6px; font-size: 20px; font-weight: normal;} /* Used for: Match summaries & recent games */
.boxBody   {color:black; border-top: 2px solid black; background-color: #FAFAFA; font-weight: normal; padding: 10px;}
table.boxTable {color:black; border-spacing: 5px; width: 100%;}

.boxTitleConf {
    background-color: #679EC9;
    padding: 6px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Other types of boxes. */
.helpBox {
	color: #FFFFFF;
	border: 2px solid #CC6633;
	background-color: #4C6260;
	padding:10px;
	line-height:1.4em;
}

/* Other types of boxes. */
.errorBox {
	color: #FFFFFF;
	border: 2px solid #000000;
	background-color: #800000;
	padding:10px;
	line-height:1.4em;
}

/*
.assistantBox {
	color: #000000;
	border: 2px solid #3D3D3D;
	background-color: #FFCCFF;
	padding:10px;
	line-height:1.4em;
}
*/

/* 
 *   Tables, TRs and TDs 
 */

/* Used almost everywhere */
table.common  {border: none; width: 100%; background-color: inherit;}
tr.commonhead {color: black; background-color: #CCCCCC;}

/* For the tours list */
table.tours {
    border: none; 
    width: 100%; 
    background-color: inherit; 
    padding-left: 5px;
    padding-right: 5px;
}

/* tour lists: titel boxes */
.leagues     {background-color: #;}
.divisions   {background-color: #;}
.tours       {background-color: whitesmoke;}
td.round     {background-color: #CCCCCC;}
td.match     {background-color: #DDDDDD;}
td.seperator {height:15px;}

/* tour lists: node containers */
div.leaguesNCont     {margin-top:15px; margin-left:10px;}
div.divisionsNCont   {margin-top:5px;  margin-left:25px;}
div.toursNCont       {margin-top:0px;  margin-left:10px;}

/* 
 *   Section specific 
 */

/* Main page */

div.main_head       {font-family: aurora; clear: both; padding-left: 20px; padding-top: 15px; padding-bottom: 5px; font-size: 25px; color: white; text-shadow: 2px 2px black; background-color: inherit; font-weight: normal}
div.main_foot       {clear: both; font-size: 11px; padding: 30px; padding-top: 20px; background-color: inherit;}
div.main_rightColumn {float: right; width: 50%; background-color: inherit;}
div.main_leftColumn {float: left; width: 50%; background-color: inherit;}
    div.main_leftColumn_head     {clear: both; color: white; text-align: right; padding-right: 20px; background-color: inherit;} /* Padding should be the same as lcolBox padding. */
        div.main_leftColumn_welcome  {clear: both; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; background-color: inherit; text-align: left;}
        div.main_leftColumn_left  {padding-left: 20px; padding-top: 10px; padding-bottom: 10px; background-color: inherit; text-align: left; float:left;}
        div.main_leftColumn_right {padding-left: 20px; padding-top: 3px;  padding-bottom: 3px;  background-color: inherit; text-align: right; float:right;}
*/
/* 
 *  Other
 */

/* Status bar */
div.messageContainer    {width:100%;padding:6px 0px 6px 0px;color:#fff;font-weight:bold;}
div.green               {clear:both;background-color:#390;border:1px solid #298000;}
div.red                 {clear:both;background-color:#F20000;border:1px solid #c00;}

/* Game result icon*/
.match_icon	{background:transparent url(../images/result_icon.gif) no-repeat 0 0;width:12px;height:12px}
.won		{background-position:-14px 0}
.draw		{background-position:-28px 0}
.lost		{background-position:-42px 0}




/*********************
 CSS Menu
 *********************/
._css3m{display:none}
 
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#FFFFFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-color:#d4d4d4;padding:0 10px 10px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:right;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 0%;margin:0 0%;
	*display:inline;*padding-right:1.75%;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;display:table-cell; table-layout:fixed; width:12.5%;}
ul#css3menu1 li.toplast{
	width:16%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 12px Arial,Helvetica,sans-serif;color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:4px 10px 4px 10px;background-color:#c1c1c1;background-image:url("../images/mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#FFFFFF;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:bold 12px Arial,Helvetica,sans-serif;color:#000;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#eb0000;border-color:#C0C0C0;border-style:solid;color:#ffffff;text-shadow:#FFF 0 0 1px;background-image:url("../images/mainbk.png");background-position:0 100px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("../images/arrowsub.png");padding-right:12px;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:4px 10px 4px 10px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#000000;-moz-box-shadow:0 8px #000000, 0 16px #000000;-webkit-box-shadow:0 8px #000000, 0 16px #000000;box-shadow:0 8px #000000, 0 16px #000000;}
ul#css3menu1 > li.switch:hover:before{
	background:#ffffff;-moz-box-shadow:0 8px #ffffff, 0 16px #ffffff;-webkit-box-shadow:0 8px #ffffff, 0 16px #ffffff;box-shadow:0 8px #ffffff, 0 16px #ffffff;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	background-color:#eb0000;background-image:url("../images/mainbk.png");background-position:0 100px;border-style:solid;border-color:#C0C0C0;color:#ffffff;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li > a.pressed{
	background-color:#ffffff;background-image:none;color:#eb0000;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;-webkit-border-radius:0px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.toplast>a{
	border-radius:0 0px 0px 0;-moz-border-radius:0 0px 0px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;}

@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:399px),only screen and (max-device-width:399px){
ul#css3menu1>li:nth-of-type(1){width:25%}ul#css3menu1>li:nth-of-type(2){width:25%}ul#css3menu1>li:nth-of-type(3){width:25%}ul#css3menu1>li:nth-of-type(4){width:25%}ul#css3menu1>li:nth-of-type(5){width:33%}ul#css3menu1>li:nth-of-type(6){width:33%}ul#css3menu1>li:nth-of-type(7){width:34%}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 228px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}