/*
    Note: 
    -----
    If you make your own nice style sheet, then please let us know about it. 
    We may want to include in the official version!
*/

/*************************
 * General
 *************************/

html {overflow-y: scroll;} /* Keep page alignment uniform. */

body 
{
    background-color: #eeeeee;
    /*
    background-image: url(../images/bg2.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    */
    font: 12px Tahoma;
}
h3,h4{margin:0} /*reset browser default margin*/

/* td/tr definitions */
tr.dark      {background-color: #BBBBBB;}
tr.light     {background-color: #CCCCCC;}
tr.lightest  {background-color: #DDDDDD;}
td.dark      {background-color: #BBBBBB;}
td.light     {background-color: #CCCCCC;}
td.lightest  {background-color: #DDDDDD;}
td.seperator {height:15px;}

/* Boxes */
.boxTitle1 {background-color: #4D6483; padding: 6px; font-size: 13px; font-weight: bold; color: #eeeeee;} /* Used for: Team info. box */
.boxTitle2 {background-color: #4D6483; padding: 6px; font-size: 13px; font-weight: bold; color: #eeeeee;} /* Used for: Team management box */
.boxTitle3 {background-color: #4D6483; padding: 6px; font-size: 13px; font-weight: bold; color: #eeeeee;} /* Used for: Admin actions box */
.boxTitle4 {background-color: #4D6483; padding: 6px; font-size: 13px; font-weight: bold; color: #eeeeee;} /* Used for: Coach list box */
.boxBody   {border-top: 1px solid #545454; padding: 10px;}
table.boxTable {border-spacing: 5px;}

/* Container for rows */
div.row {width: inherit; clear: both; background-color: inherit;}

/* White font */
font.white  {color: #eeeeee;}

/*************************
 * Containers and tables
 *************************/

/* Main two containers */
div.everything {width: 100%; margin: auto; background-color: #eeeeee;}
div.section {margin: 5px; padding-bottom: 40px; background-color: inherit;}

/* Menu/banner table */
table.menu
{
    width: 100%;
    background-color: #4D6483; 
    padding: 6px; 
    font-size: 13px; 
    font-weight: bold; 
    color: #eeeeee;
   
    /*background-image: url(../images/banner_lowres.jpg);*/ /* 177x1000px */
    /*
    background-repeat: no-repeat;
    background-position: top left;
    */
}

td.menu {vertical-align: bottom;}
a.menu {color: #eeeeee; text-decoration: none;}
a.menuSpecial {color: orange; text-decoration: none;}

/* Additions to menu links */
a.menu:link     {color: #eeeeee;}
a.menu:visited  {color: #eeeeee;}
a.menu:hover    {color: orange;}
a.menu:active   {color: #eeeeee;}
a.menuSpecial:link     {color: #eeeeee;}
a.menuSpecial:visited  {color: #eeeeee;}
a.menuSpecial:hover    {color: orange;}
a.menuSpecial:active   {color: #eeeeee;}

/* Header for sections */
h2
{
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: inherit;
    font-size: 18px;
    font-weight: bold;
	margin:0 auto;
}

/* Sort table(s) style */

table.sort
{
    border: none; 
    width: 100%;
    background-color: inherit; 
}

/* General text (only) tables */

table.text
{
    border: none; 
    width: 100%;
    background-color: inherit; 
}

/* For coaches section when specific coach chosen */

table.picAndText 
{
    border: none; 
    width: 100%; 
    background-color: inherit; 
    
    border-spacing: 5px;
}

/* Teams section (logo list) */

table.teams /* "border-spacing" property (cellspacing) is defined as HTML tags. */
{ 
    border: none; 
    width: 100%; 
    background-color: inherit; 
    
    border-spacing: 15px;
    table-layout: fixed;
} 

/* Fixtures table */

table.fixtues
{
    border: none; 
    width: 100%; 
    background-color: inherit; 
    
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px;
}

/* Main */

div.main_title      {clear: both; padding-left: 20px; padding-top: 20px; padding-bottom: 5px; font-size: 18px; background-color: inherit;}
div.mail_welcome    {clear: both; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; background-color: inherit; text-align: left;}
div.main_lcolLinks  {clear: both; text-align: right; padding-right: 20px; background-color: inherit;} /* Padding should be the same as lcolBox padding. */
div.main_lcol       {float: left; width: 600px; background-color: inherit;}
div.main_rcol       {float: right; width: 500px; background-color: inherit;}
div.main_lcolBox    {margin: 20px; border: 1px solid #545454;} 
div.main_rcolBox    {margin: 10px; border: 1px solid #545454;}
div.main_cpy        {clear: both; font-size: 10px; padding: 30px; padding-top: 20px; background-color: inherit;}

div.messageContainer {width:971px;padding:8px;color:#fff;font-weight:bold;}
div.green{background-color:#390;border:1px solid #298000;}
div.red{background-color:#F20000;border:1px solid #c00;}

/* Team's page */
div.tpageBox    {float: left; width: 270px; border: 1px solid #545454; margin: 15px; margin-bottom: 0px;}
div.tnewsBox    {float: left; width: 600px; border: 1px solid #545454; margin: 15px; margin-bottom: 0px;}
div.tnewsBoxNew {float: left; width: 300px; border: 1px solid #545454; margin: 15px; margin-bottom: 0px;}

/* Administration */
div.admin_menu {clear: both; width: inherit; text-align: center;}
div.adminBox   {float: left; margin: 20px; border: 1px solid #545454;}

/* Records */
table.recBoxTable {width: 100%; border-spacing: 2px;}
div.recBox        {clear: both; width: 800px; border: 1px solid #545454; margin: 30px auto 30px auto;}

/* Match form */
table.match_form {width: 100%; padding:10px;}

/* Guest book */
div.gb {clear: both; width: 450px; border: 1px solid #545454; margin-left: auto; margin-right: auto; margin-bottom: 5px;}

/* Game result icon*/
.match_icon	{background:transparent url(/images/result_icon.gif) no-repeat 0 0;width:12px;height:12px}
.won		{background-position:-14px 0}
.lost		{background-position:-28px 0}
.draw		{background-position:-42px 0}
/* Player profile */
#player		{float:left;}
#player h4	{font-size:12px;font-weight:bold;}
#player ul	{margin:0;padding:0;}
#player li	{list-style:none;float:left;}
#player .pboxLong	{width:955px;border:1px solid #999;margin:10px 20px 0 16px;float:left;}
#player .pboxShort 	{width: 425px; border: 1px solid #545454; margin: 10px; margin-left: 30px; float: left;}
table.pbox 			{font:inherit;width:100%;}

.playerProfile		{border:1px solid #999;margin:0 20px 0 16px;width:935px;float:left;padding:10px;background:transparent url(/images/playerprofile_bg.gif) repeat-y top right;}
.playerProfile h3	{font-size:16px;}
.playerProfile p	{margin:4px 0 6px;}

.playerProfileColumn{float:left;}

.playerImg		{float:left;margin-bottom:10px;margin-right:15px;width:152px;}
.playerImg img 	{border:1px solid #999;width:150px;height:150px;background-color:#fff;}

.playerInfo							{width:230px;float:left;margin-bottom:10px;margin-right:15px;}
#player .playerInfo ul.playerStats	{margin-bottom:6px;float:left;}
.playerInfo ul.playerStats li		{margin-right:4px;font-size:15px;font-weight:bold;text-align:center;}
.playerInfo ul.playerStats div		{width:29px;height:29px;border:1px solid #999;background-color:#fff;}
.playerInfo ul.playerStats div span	{margin-top:4px;display:block;}
.playerInfo li.skillup div			{background-color:#0c0;}
.playerInfo li.skilldown div		{background-color:#f00;}

.playerSkills		{clear:left;margin-top:3px;}
.playerSkills h4	{border-bottom:1px solid #000;}

.playerAchievements			{float:left;clear:left;}
.playerAchievements li		{margin-right:2px;list-style:none;font-size:11px;font-weight:bold;text-align:center;background-color:#c0c0c0;}
.playerAchievements div		{width:29px;height:29px;border:1px solid #999;background-color:#fff;}
.playerAchievements div span{margin-top:5px;display:block;font-size:14px;}
.playerAchievements .comp	{font-size:10px;padding-top:1px;}
.playerAchievements .first	{margin-left:7px;}
.playerAchievements .item	{background-color:#ddd;}

.playerDescription			{width:420px;float:left;}
.playerDescription .body	{background-color:#fff;border:1px solid #999;padding:4px;margin:4px 0;}
.playerDescription textarea	{background-color:#fff;border:1px solid #999;padding:4px;height:130px;width:410px;overflow-x:hidden;overflow-y:scroll;margin: 4px 0;}

.playerRightBar				{float:right;width:80px;text-align:center;}
.playerRightBar a			{font-weight:bold;}
#player .playerRightBar h4	{background:transparent url(/images/playerprofile_number_bg.jpg) no-repeat 0 0;height:50px;width:50px;margin:0 auto;line-height:56px;color:#fff;font-size:22px;}
.ready						{color:green;font-weight:bold;}
.dead						{color:red;font-weight:bold;text-transform:uppercase;}
.sold						{color:orange;font-weight:bold;}
.injured					{color:blue;font-weight:bold;}

