/*************************
 * General
 *************************/

html {overflow-y: scroll;} /* Keep page alignment uniform. */

body 
{
    background-color: #4C6260;
    /*
    background-image: url(../images/bg2.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    font: 12px Tahoma;
    */
    font-family: monospace;
    font-size: 9pt;
}

h3 {margin:0} /* Reset browser default margin */

/* Title for sections */
h2
{
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: inherit;
    font-size: 12pt;
    font-weight: bold;
	margin:0 auto;
}

/* Container for rows */
div.row {width: inherit; clear: both; background-color: inherit;}

/* MAIN container */
div.everything {background-color: #f2f2f2;} /* Top level container */

/*
 *   The following three containers are the subsequent main containers within "div.everything".
 */

/* Banner */
div.banner {
    /*
    width: 1000px;
    height: 150px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: top left;
    */
}

/* Menu */
div.menu {
    width: 100%;
    float: left;
}

/* Section code container */
div.section {
    margin-left: 10px; 
    margin-right: 10px; 
    padding-bottom: 40px; 
    background-color: inherit;
}

/*
 *   Box (inner) stylings.
 */
div.boxCommon,div.boxWide,div.boxCoachPage,div.boxTeamPage,div.boxPlayerPageInfo {margin: 20px; border: 1px solid #545454;}
div.boxWide             {clear:both;}
div.boxCommon           {float:left;}
div.boxCoachPage        {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxTeamPage         {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxPlayerPageInfo   {float: left; width: 325px; margin-left: 30px;}

.boxTitle1 {background-color: inherit; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Team/player/coach/match/etc. info, news, etc. */
.boxTitle2 {background-color: inherit; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Management/actions/more box for ordinary coaches */
.boxTitle3 {background-color: inherit; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Management/actions/more box for ordinary admins */
.boxTitle4 {background-color: inherit; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Statistics */
.boxTitle5 {background-color: inherit; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Other type */
.boxBody   {border-top: 1px solid #545454; padding: 10px; border-style:dashed none none none;}
table.boxTable {border-spacing: 5px; width: 100%;}

/* Other types of boxes. */
.helpBox {
	border: 2px solid #CC6633;
    border-style:dashed;
	padding:10px;
	line-height:1.4em;
}

/*
.assistantBox {
	border: 2px solid #3D3D3D;
    border-style:dashed;
	padding:10px;
	line-height:1.4em;
}
*/

/* 
 *   Tables, TRs and TDs 
 */

/* Used almost everywhere */
table.common  {border: none; width: 100%; background-color: inherit;}
tr.commonhead {background-color: #CCCCCC;}

/* For the tours list */
table.tours {
    border: none; 
    width: 100%; 
    background-color: inherit; 
    padding-left: 5px;
    padding-right: 5px;
}

/* tour lists: titel boxes */
.leauges     {background-color: #659EC7;}
.divisions   {background-color: #8BB381;}
.tours       {background-color: #BBBBBB;}
td.round     {background-color: #CCCCCC;}
td.match     {background-color: #DDDDDD;}
td.seperator {height:15px;}

/* tour lists: node containers */
div.leaugesNCont     {margin-top:15px; margin-left:10px;}
div.divisionsNCont   {margin-top:5px;  margin-left:25px;}
div.toursNCont       {margin-top:0px;  margin-left:10px;}

/* 
 *   Section specific 
 */

/* Login page */
div.login {padding-top: 20px; text-align: center;}

/* Main page */
div.main_head       {clear: both; padding-left: 20px; padding-top: 20px; padding-bottom: 5px; font-size: 18px; background-color: inherit;}
div.main_foot       {clear: both; font-size: 10px; padding: 30px; padding-top: 20px; background-color: inherit;}
div.main_rightColumn {float: right; width: 500px; background-color: inherit; padding-right:40px;}
div.main_leftColumn {float: left; width: 550px; background-color: inherit;}
    div.main_leftColumn_head     {clear: both; text-align: right; padding-right: 20px; background-color: inherit;} /* Padding should be the same as lcolBox padding. */
        div.main_leftColumn_welcome  {clear: both; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; background-color: inherit; text-align: left;}
        div.main_leftColumn_left  {padding-left: 20px; padding-top: 10px; padding-bottom: 10px; background-color: inherit; text-align: left; float:left;}
        div.main_leftColumn_right {padding-left: 20px; padding-top: 3px;  padding-bottom: 3px;  background-color: inherit; text-align: right; float:right;}

/* 
 *  Other
 */

/* Status bar */
div.messageContainer    {width:100%;padding:6px 0px 6px 0px;color:#fff;font-weight:bold;}
div.green               {clear:both;background-color:#390;border:1px solid #298000;}
div.red                 {clear:both;background-color:#F20000;border:1px solid #c00;}

/* Game result icon*/
.match_icon	{background:transparent url(../images/result_icon.gif) no-repeat 0 0;width:12px;height:12px}
.won		{background-position:-14px 0}
.draw		{background-position:-28px 0}
.lost		{background-position:-42px 0}
