modules/teamcompare/translations.xml
modules/teamcreator/translations.xml
modules/teamcreator/translations.xml
modules/teamcompare/translations.xml
modules/scheduler/translations.xml
modules/log/class_log.php
images/race_icons/2.jpg
lib/class_coach.php
lib/class_htmlout.php
localsettings/settings_10.php
localsettings/settings_13.php
localsettings/settings_14.php
localsettings/settings_15.php
localsettings/settings_16.php
localsettings/settings_17.php
localsettings/settings_18.php
localsettings/settings_20.php
localsettings/settings_22.php
localsettings/settings_3.php
localsettings/settings_2.php
localsettings/settings_21.php
localsettings/settings_7.php
localsettings/settings_4.php
lib/class_htmlout.php
localsettings/settings_11.php
localsettings/settings_12.php
localsettings/settings_19.php
localsettings/settings_2.php
localsettings/settings_5.php
localsettings/settings_6.php
localsettings/settings_8.php
localsettings/settings_9.php
lib/class_htmlout.php
localsettings/settings_2.php
install.php
settings.php
