/*************************
 * General
 *************************/

html {overflow-y: scroll;} /* Keep page alignment uniform. */

body 
{
    /*
    background-color: black;
    background-image: url(../images/bg2.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    */
    background: #0a1e2e url(../images/bg.png) repeat-x;

    font: 12px Tahoma;
}

h3 {margin:0} /* Reset browser default margin */

/* Title for sections */
h2
{
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: inherit;
    font-size: 18px;
    font-weight: bold;
	margin:0 auto;
}

/* Container for rows */
div.row {width: inherit; clear: both; background-color: inherit;}

/* MAIN container */
div.everything {
    width: 1200px; 
    margin: auto; 
    background-color: #eeeeee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
} /* Top level container */

/*
 *   The following three containers are the subsequent main containers within "div.everything".
 */

/* Banner */
div.banner {
    width: 1200px;
    height: 150px;
    background-image: url(../images/banner.png); /* 150x1000px */
    background-repeat: no-repeat;
    background-position: top left;
}

/* Menu */
div.menu {
    width: 100%;
    float: left;
}

/* Section code container */
div.section {
    margin: 5px; 
    padding-bottom: 40px; 
    background-color: inherit;
}

/*
 *   Box (inner) stylings.
 */
div.boxCommon,div.boxWide,div.boxCoachPage,div.boxTeamPage,div.boxPlayerPageInfo {
    margin: 20px; 
    border: 1px solid #545454;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	-moz-box-shadow: 3px 4px 10px #999;
	-webkit-box-shadow: 3px 4px 10px #999;
	box-shadow: 3px 4px 10px #999;
}
div.boxWide             {clear:both;}
div.boxCommon           {float:left;}
div.boxCoachPage        {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxTeamPage         {float: left; width: 270px; margin: 15px; margin-bottom: 0px;}
div.boxPlayerPageInfo   {float: left; width: 325px; margin-left: 30px;}

.boxTitle1,.boxTitle2,.boxTitle3,.boxTitle4,.boxTitle5 {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.boxTitle1 {background-color: #679EC9; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Team/player/coach info & team news */
.boxTitle2 {background-color: #A37B45; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Management/actions/more box for ordinary coaches */
.boxTitle3 {background-color: #BCDD11; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Management/actions/more box for ordinary admins */
.boxTitle4 {background-color: #F1921A; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Statistics (standings, player leaders, ES) */
.boxTitle5 {background-color: #669900; padding: 6px; font-size: 13px; font-weight: bold;} /* Used for: Match summaries & recent games */
.boxBody   {border-top: 1px solid #545454; padding: 10px;}
table.boxTable {border-spacing: 5px; width: 100%;}

/* Other types of boxes. */
.helpBox {
	color: #FFFFFF;
	border: 2px solid #CC6633;
	background-color: #4C6260;
	padding:10px;
	line-height:1.4em;
}

/* Other types of boxes. */
.errorBox {
	color: #FFFFFF;
	border: 2px solid #000000;
	background-color: #800000;
	padding:10px;
	line-height:1.4em;
}

/*
.assistantBox {
	color: #000000;
	border: 2px solid #3D3D3D;
	background-color: #FFCCFF;
	padding:10px;
	line-height:1.4em;
}
*/

/* 
 *   Tables, TRs and TDs 
 */

/* Used almost everywhere */
table.common  {border: none; width: 100%; background-color: inherit;}
tr.commonhead {background-color: #CCCCCC;}

/* For the tours list */
table.tours {
    border: none; 
    width: 100%; 
    background-color: inherit; 
    padding-left: 5px;
    padding-right: 5px;
}

/* tour lists: titel boxes */
.leagues     {background-color: #659EC7;}
.divisions   {background-color: #8BB381;}
.tours       {background-color: #BBBBBB;}
td.round     {background-color: #CCCCCC;}
td.match     {background-color: #DDDDDD;}
td.seperator {height:15px;}

/* tour lists: node containers */
div.leaguesNCont     {margin-top:15px; margin-left:10px;}
div.divisionsNCont   {margin-top:5px;  margin-left:25px;}
div.toursNCont       {margin-top:0px;  margin-left:10px;}

/* 
 *   Section specific 
 */

/* Main page */
div.main_head       {clear: both; padding-left: 20px; padding-top: 20px; padding-bottom: 5px; font-size: 18px; background-color: inherit;}
div.main_foot       {clear: both; font-size: 10px; padding: 30px; padding-top: 20px; background-color: inherit;}
div.main_rightColumn {float: right; width: 600px; background-color: inherit;}
div.main_leftColumn {float: left; width: 540px; background-color: inherit;}
    div.main_leftColumn_head     {clear: both; text-align: right; padding-right: 20px; background-color: inherit;} /* Padding should be the same as lcolBox padding. */
        div.main_leftColumn_welcome  {clear: both; padding-left: 20px; padding-top: 3px; padding-bottom: 3px; background-color: inherit; text-align: left;}
        div.main_leftColumn_left  {padding-left: 20px; padding-top: 10px; padding-bottom: 10px; background-color: inherit; text-align: left; float:left;}
        div.main_leftColumn_right {padding-left: 20px; padding-top: 3px;  padding-bottom: 3px;  background-color: inherit; text-align: right; float:right;}

/* 
 *  Other
 */

/* Status bar */
div.messageContainer    {width:100%;padding:6px 0px 6px 0px;color:#fff;font-weight:bold;}
div.green               {clear:both;background-color:#390;border:1px solid #298000;}
div.red                 {clear:both;background-color:#F20000;border:1px solid #c00;}

/* Game result icon*/
.match_icon	{background:transparent url(../images/result_icon.gif) no-repeat 0 0;width:12px;height:12px}
.won		{background-position:-14px 0}
.draw		{background-position:-28px 0}
.lost		{background-position:-42px 0}

/*
 * Scheduler START
 */
 .module_schedule {
	margin: 30px 10px;
	padding: 10px;
 }
 
 .module_schedule .success {
	background-color: #CCFFCC;
 }
 
 .module_schedule .error {
	background-color: #FFCCCC;
 }
 
 .module_schedule input {
	padding:5px 10px;
 }
 
 
 .module_schedule .league,
 .module_schedule .division,
 .module_schedule .tour {
	
	margin: 0 0 20px;
 }
 
.module_schedule .teamPool,
.module_schedule .step2 #selectedTeams {
 	width: 250px;
	float: left;
	margin-right: 10px;
	cursor:pointer;
}
	
.module_schedule  .team,
.module_schedule  .slot {
	margin: 5px 0;
	padding: 10px;
 }
 
 .module_schedule .team {
	width: 200px;
	height: 32px;
	line-height:32px;
	background-color: #DDDDDD;
	border: 1px solid #BBBBBB;
 }
 
 .module_schedule .team:hover{
  background-color: #AAAAAA;
 }
 
.module_schedule #schedule .team:hover,
.module_schedule .step1 .team:hover {
	background-color: #DDDDDD;
 }
.module_schedule #schedule .team,
.module_schedule .step1 .teamPool,
.module_schedule .step1 .team {
	cursor: default;
 }
 
 .module_schedule .step2 .draw { 
 	height: 62px;
 }
.module_schedule .step2 .slot { 
 	width: 25px;
	height: 32px;
	font-size: 30px;
	font-weight: bold;
	float:left;
}

 .module_schedule .step2 .notselected {
	background-color: #FFCCCC;
	border: 1px solid #FF0000;
	cursor:pointer;
 }

  .module_schedule .step2 .notselected:hover {
	background-color: #FFAAAA;
}

  .module_schedule .step2 .selected {
	background-color: #CCFFCC;
	border: 1px solid #00FF00;
	cursor:pointer;
 }
   .module_schedule .step2 .selected:hover {
	background-color: #AAFFAA;
}
 
 .module_schedule .step2 .schedulebutton {
	background-color: #BBBBBB;
	border: 1px solid #444444;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 10px;
	width: 200px;
	height: 32px;
	margin: 5px;
	float:left;
	cursor:pointer;
	display:none;
	font-size: 14px;
	text-align: center;
 }
 
 .module_schedule .step2 .schedulebutton:hover{
	background-color: #888888;
}

 .module_schedule .step2 #draw {
	width: 300px;
	float:left;
	margin: 0 10px;

 }
 
 .module_schedule .step2 #matches {
	width: 600px;
	height:100%;
	float:right;
	margin: 0 10px;
 }
 
 .module_schedule .step2 #matches .teamname {
	display:none;
 }
 
  .module_schedule .step2 #drawsched #draw .draw .team {
	width: 200px;
	height:32px;
	float:right;
 }
 
 .module_schedule .step2 #drawsched .boxWide {
	clear:none;
 }
 
 .module_schedule .step2 #drawsched #schedule {
	float:right;
	margin-top:0;
 }
.module_schedule .step2 #drawsched #schedule {
	width: 785px;
 }
 .module_schedule .step2 #drawsched #schedule table.tours {
	width: 765px;
 }
 
 .module_schedule .clear {
	clear:both;
 }
 
 .module_schedule .droppable {
	border: 1px dashed #545454;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 }
 
  .module_schedule .droppableActive {
	background-color: #CCFFCC;
	border: 1px dashed #00FF00;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 }
 
 .module_schedule #roundselection {
	width: 230px;
	float:left;
	margin-top: 0px;
 }
 .module_schedule .roundPool {
  	width: 200px;
	height: 20px;
	padding: 2px;
	margin: 2px;
	float: left;
	line-height:20px;
	background-color: #DDDDDD;
	border: 1px solid #BBBBBB;
 }
 
 .module_schedule #hometeam {
	float: left;
 }
 .module_schedule #awayteam {
	float: right;
 }
 
 .module_schedule #schedule {
	text-align: center;
 }
 .module_schedule #schedule .vs {
	font-size: 32px;
	line-height: 62px;
 }
  .module_schedule #schedule .team {
	line-height: 16px;
  }
 .module_schedule #schedule #selectedRound {
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
  }
 /*
 * Scheduler END
 */